{
  "openapi": "3.0.0",
  "info": {
    "title": "IOFinNet API",
    "description": "IOFinNet platform API for financial automation. The platform leverages cryptography, blockchain, multi-party computation, and distributed systems to revolutionize conventional finance. Services include:\n\n- **io.vault**: MPC TSS institutional digital asset self-custody solution\n- **io.network**: Always-on settlement platform for instant transactions\n\nExtracted from https://docs.iofinnet.com/reference/core-introduction",
    "version": "1.0.0",
    "contact": {
      "name": "IOFinNet",
      "url": "https://docs.iofinnet.com"
    }
  },
  "servers": [
    {
      "url": "https://api.iofinnet.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/auth/accessToken": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Get access token",
        "description": "Fetches an access token using client credentials (OAuth)",
        "operationId": "getAccessToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized - Invalid credentials"
          },
          "403": {
            "description": "Forbidden"
          },
          "5XX": {
            "description": "Server Error"
          }
        }
      }
    },
    "/v1/vaults": {
      "get": {
        "tags": ["Vaults"],
        "summary": "List all vaults",
        "description": "Retrieves a paginated list of all vaults accessible to the user. Each vault represents a secure storage space for managing digital assets and creating signatures.",
        "operationId": "listVaults",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "string",
              "default": "30"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor after which to start returning results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor before which to start returning results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}": {
      "get": {
        "tags": ["Vaults"],
        "summary": "Get vault details",
        "description": "Retrieves detailed information about a specific vault by its ID",
        "operationId": "getVaultDetails",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vault"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/assets": {
      "get": {
        "tags": ["Vaults"],
        "summary": "List vault assets",
        "description": "Retrieves a list of all assets visible in a specific vault, including their balances and receiving addresses",
        "operationId": "listVaultAssets",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAssetsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/assets/{assetId}/transactions": {
      "get": {
        "tags": ["Assets"],
        "summary": "List asset transactions",
        "description": "Retrieves a paginated list of transactions for a specific asset in a vault",
        "operationId": "listAssetTransactions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the asset",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "string",
              "default": "30"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor after which to start returning results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor before which to start returning results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/{chainAlias}/transfer/native": {
      "post": {
        "tags": ["Transfers"],
        "summary": "Create a native asset transfer",
        "description": "Create a native asset transfer and broadcast it to chain",
        "operationId": "createNativeTransfer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainAlias",
            "in": "path",
            "required": true,
            "description": "Blockchain chain alias",
            "schema": {
              "type": "string",
              "enum": ["BTC"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NativeTransferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeTransferResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/{chainAlias}/transfer/token": {
      "post": {
        "tags": ["Transfers"],
        "summary": "Create a token transfer",
        "description": "Create a token transfer and broadcast it to chain",
        "operationId": "createTokenTransfer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainAlias",
            "in": "path",
            "required": true,
            "description": "Blockchain chain alias",
            "schema": {
              "type": "string",
              "enum": ["ETH"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenTransferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeTransferResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/{chainAlias}/sign-and-broadcast": {
      "post": {
        "tags": ["Transfers"],
        "summary": "Sign and broadcast a transaction",
        "description": "Sign and broadcast a transaction",
        "operationId": "signAndBroadcast",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainAlias",
            "in": "path",
            "required": true,
            "description": "Blockchain chain alias",
            "schema": {
              "type": "string",
              "enum": ["ETH"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignAndBroadcastRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeTransferResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/signatures": {
      "get": {
        "tags": ["Signatures"],
        "summary": "List signature requests",
        "description": "Retrieves a paginated list of all signature requests for a specific vault. Each signature request represents a pending or completed cryptographic signature operation.",
        "operationId": "listSignatureRequests",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "string",
              "default": "30"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor after which to start returning results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor before which to start returning results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureRequestsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/signatures/sign": {
      "post": {
        "tags": ["Signatures"],
        "summary": "Create signature request",
        "description": "Creates a new signature request for cryptographic signing. The request will require approval from vault signers based on their configured weights.",
        "operationId": "createSignatureRequest",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSignatureRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/signatures/{signatureId}": {
      "get": {
        "tags": ["Signatures"],
        "summary": "Get signature request details",
        "description": "Retrieves detailed information about a specific signature request",
        "operationId": "getSignatureRequest",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signatureId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the signature request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/network/directory": {
      "get": {
        "tags": ["Network"],
        "summary": "List network directory",
        "description": "Retrieves a paginated list of all entries in the io.network directory. The directory contains information about registered users and organisations in the io.network ecosystem. You can search for entries by display name or address.",
        "operationId": "listNetworkDirectory",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search for directory entry by display name or address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "string",
              "default": "30"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor after which to start returning results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor before which to start returning results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/network/directory/address/{address}": {
      "get": {
        "tags": ["Network"],
        "summary": "Lookup directory entry",
        "description": "Retrieves detailed information about a specific directory entry by address",
        "operationId": "lookupDirectoryEntry",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "io.network address to look up",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryEntry"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/network/transfers": {
      "post": {
        "tags": ["Network"],
        "summary": "Create network transfer",
        "description": "Creates a new transfer request for io.network assets. Note: This endpoint requires an io.network subscription. This endpoint initiates a transfer of io.network assets from the vault to a specified address. The receiving address must be an address that is registered in the io.network directory.",
        "operationId": "createNetworkTransfer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNetworkTransferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNetworkTransferResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/network/transfers/{transferId}": {
      "get": {
        "tags": ["Network"],
        "summary": "Get network transfer details",
        "description": "Retrieves detailed information about a specific network transfer",
        "operationId": "getNetworkTransfer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transferId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the transfer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkTransfer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/network/statement": {
      "get": {
        "tags": ["Network"],
        "summary": "List network statement",
        "description": "Retrieves a paginated list of all io.network transactions for a specific vault. This endpoint returns a history of all completed io.network transactions, including transfers between io.network addresses, minting and burning operations, and transaction status and details. Note: This endpoint requires an io.network subscription.",
        "operationId": "listNetworkStatement",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "string",
              "default": "30"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor after which to start returning results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor before which to start returning results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkStatementResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/rules/executions": {
      "get": {
        "tags": ["Vaults"],
        "summary": "List vault rule execution logs",
        "description": "Retrieves a paginated list of rule execution logs for a specific vault",
        "operationId": "listVaultRuleExecutionLogs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "required": false,
            "description": "Number of items to return from the beginning",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last",
            "in": "query",
            "required": false,
            "description": "Number of items to return from the end",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor before which to start returning results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor after which to start returning results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rule execution logs for a vault",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleExecutionLogsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/rules/{ruleId}/executions": {
      "get": {
        "tags": ["Vaults"],
        "summary": "List vault rule execution logs by rule id",
        "description": "Retrieves a paginated list of rule execution logs for a specific rule in a vault",
        "operationId": "listVaultRuleExecutionLogsByRuleId",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the rule",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "required": false,
            "description": "Number of items to return from the beginning",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last",
            "in": "query",
            "required": false,
            "description": "Number of items to return from the end",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor before which to start returning results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor after which to start returning results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rule execution logs for a specific rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleExecutionLogsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/rules/executions/{executionLogId}": {
      "get": {
        "tags": ["Vaults"],
        "summary": "Get a vault rule execution log",
        "description": "Retrieves details of a specific rule execution log",
        "operationId": "getVaultRuleExecutionLog",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "executionLogId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the execution log",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vault rule execution log details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleExecutionLogDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Vault rule execution log not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/rules": {
      "post": {
        "tags": ["Vaults"],
        "summary": "Create a post transaction rule",
        "description": "Creates a new post transaction rule for a vault",
        "operationId": "createPostTransactionRule",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostTransactionRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post transaction rule created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTransactionRuleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": ["Vaults"],
        "summary": "List post transaction rules",
        "description": "Retrieves a paginated list of post transaction rules for a vault",
        "operationId": "listPostTransactionRules",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "required": false,
            "description": "Number of items to return from the beginning",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last",
            "in": "query",
            "required": false,
            "description": "Number of items to return from the end",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor before which to start returning results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor after which to start returning results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of post transaction rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTransactionRulesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/rules/{ruleId}": {
      "get": {
        "tags": ["Vaults"],
        "summary": "Get a post transaction rule",
        "description": "Retrieves details of a specific post transaction rule",
        "operationId": "getPostTransactionRule",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the rule",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post transaction rule details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTransactionRuleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": ["Vaults"],
        "summary": "Update a post transaction rule",
        "description": "Updates an existing post transaction rule",
        "operationId": "updatePostTransactionRule",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the rule",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePostTransactionRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post transaction rule updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTransactionRuleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/addresses/ecosystem/{ecosystem}/chain/{chain}/validate": {
      "post": {
        "tags": ["Addresses"],
        "summary": "Validate address",
        "description": "Validates an address against a chain and ecosystem",
        "operationId": "validateAddress",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ecosystem",
            "in": "path",
            "required": true,
            "description": "Blockchain ecosystem",
            "schema": {
              "type": "string",
              "enum": ["cosmos", "evm", "svm", "tvm", "utxo", "xrp", "substrate"]
            }
          },
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "Blockchain chain identifier",
            "schema": {
              "type": "string",
              "enum": ["mnee"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address validated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/addresses": {
      "get": {
        "tags": ["Addresses"],
        "summary": "List all registered addresses for a vault",
        "description": "Retrieves a paginated list of all addresses registered for monitoring in the specified vault across all ecosystems and chains",
        "operationId": "listAllVaultAddresses",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "required": false,
            "description": "Number of results to return from the start",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "last",
            "in": "query",
            "required": false,
            "description": "Number of results to return from the end",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor to paginate backwards",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor to paginate forwards",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all vault addresses across all chains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pageInfo"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RegisteredAddressListItem"
                      }
                    },
                    "pageInfo": {
                      "$ref": "#/components/schemas/PageInfo"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/addresses/ecosystem/{ecosystem}/chain/{chain}": {
      "get": {
        "tags": ["Addresses"],
        "summary": "List registered addresses for a vault and chain",
        "description": "Retrieves a paginated list of addresses registered for monitoring in the specified vault and chain",
        "operationId": "listRegisteredAddresses",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ecosystem",
            "in": "path",
            "required": true,
            "description": "Blockchain ecosystem",
            "schema": {
              "type": "string",
              "enum": ["cosmos", "evm", "svm", "tvm", "utxo", "xrp", "substrate"]
            }
          },
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "Blockchain chain identifier",
            "schema": {
              "type": "string",
              "enum": ["mnee"]
            }
          },
          {
            "name": "first",
            "in": "query",
            "required": false,
            "description": "Number of items to return from the beginning",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "last",
            "in": "query",
            "required": false,
            "description": "Number of items to return from the end",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor before which to start returning results",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor after which to start returning results",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List registered addresses for a vault and chain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredAddressesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": ["Addresses"],
        "summary": "Register address for vault",
        "description": "Register address to vault. This will start monitoring the address if monitoring is supported for the chain.",
        "operationId": "registerAddress",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ecosystem",
            "in": "path",
            "required": true,
            "description": "Blockchain ecosystem",
            "schema": {
              "type": "string",
              "enum": ["cosmos", "evm", "svm", "tvm", "utxo", "xrp", "substrate"]
            }
          },
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "Blockchain chain identifier",
            "schema": {
              "type": "string",
              "enum": ["mnee"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAddressRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Address record created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/addresses/ecosystem/{ecosystem}/chain/{chain}/address/{address}": {
      "get": {
        "tags": ["Addresses"],
        "summary": "Get registered address",
        "description": "Retrieves details of a specific address registered for monitoring in the specified vault",
        "operationId": "getRegisteredAddress",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ecosystem",
            "in": "path",
            "required": true,
            "description": "Blockchain ecosystem",
            "schema": {
              "type": "string",
              "enum": ["cosmos", "evm", "svm", "tvm", "utxo", "xrp", "substrate"]
            }
          },
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "Blockchain chain identifier",
            "schema": {
              "type": "string",
              "enum": ["mnee"]
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The address to retrieve details for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get registered address details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RegisteredAddressListItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "tags": ["Addresses"],
        "summary": "Update address",
        "description": "Updates the hidden assets for a registered address",
        "operationId": "updateAddress",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ecosystem",
            "in": "path",
            "required": true,
            "description": "Blockchain ecosystem",
            "schema": {
              "type": "string",
              "enum": ["cosmos", "evm", "svm", "tvm", "utxo", "xrp", "substrate"]
            }
          },
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "Blockchain chain identifier",
            "schema": {
              "type": "string",
              "enum": ["abstract", "mnee"]
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The address to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAddressRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Address updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/addresses/ecosystem/{ecosystem}/chain/{chain}/hd-addresses": {
      "get": {
        "tags": ["Addresses"],
        "summary": "List registered HD addresses for a vault and chain",
        "description": "Retrieves a paginated list of hierarchical deterministic (HD) addresses registered for monitoring in the specified vault and chain",
        "operationId": "listHDAddresses",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ecosystem",
            "in": "path",
            "required": true,
            "description": "Blockchain ecosystem",
            "schema": {
              "type": "string",
              "enum": ["cosmos", "evm", "svm", "tvm", "utxo", "xrp", "substrate"]
            }
          },
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "Blockchain chain identifier",
            "schema": {
              "type": "string",
              "enum": ["mnee"]
            }
          },
          {
            "name": "first",
            "in": "query",
            "required": false,
            "description": "Number of items to return from the beginning",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "last",
            "in": "query",
            "required": false,
            "description": "Number of items to return from the end",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor before which to start returning results",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor after which to start returning results",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List registered HD addresses for a vault and chain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredAddressesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": ["Addresses"],
        "summary": "Create HD address",
        "description": "Creates a hierarchical deterministic (HD) address for the specified vault and chain",
        "operationId": "createHDAddress",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ecosystem",
            "in": "path",
            "required": true,
            "description": "Blockchain ecosystem",
            "schema": {
              "type": "string",
              "enum": ["cosmos", "evm", "svm", "tvm", "utxo", "xrp", "substrate"]
            }
          },
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "Blockchain chain identifier",
            "schema": {
              "type": "string",
              "enum": ["abstract"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHDAddressRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "HD address created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HDAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/addresses/ecosystem/{ecosystem}/chain/{chain}/hd-addresses/bulk": {
      "post": {
        "tags": ["Addresses"],
        "summary": "Bulk-create HD addresses",
        "description": "Creates multiple hierarchical deterministic (HD) addresses for the specified vault and chain",
        "operationId": "bulkCreateHDAddresses",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ecosystem",
            "in": "path",
            "required": true,
            "description": "Blockchain ecosystem",
            "schema": {
              "type": "string",
              "enum": ["cosmos", "evm", "svm", "tvm", "utxo", "xrp", "substrate"]
            }
          },
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "Blockchain chain identifier",
            "schema": {
              "type": "string",
              "enum": ["mnee"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkCreateHDAddressRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "HD addresses created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkCreateHDAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/balances/ecosystem/{ecosystem}/chain/{chain}/address/{address}/native": {
      "get": {
        "tags": ["Balances"],
        "summary": "Get native balance for an address",
        "description": "Retrieves the native balance of a specific address on a given chain",
        "operationId": "getNativeBalance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ecosystem",
            "in": "path",
            "required": true,
            "description": "Blockchain ecosystem",
            "schema": {
              "type": "string",
              "enum": ["cosmos", "evm", "svm", "tvm", "utxo", "xrp", "substrate"]
            }
          },
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "Blockchain chain identifier",
            "schema": {
              "type": "string",
              "enum": ["mnee"]
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The address to query the balance for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Native balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeBalanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/balances/ecosystem/{ecosystem}/chain/{chain}/address/{address}/tokens": {
      "get": {
        "tags": ["Balances"],
        "summary": "Get token balances for an address",
        "description": "Get all token balances (ERC-20, SPL, etc.) for a specific address",
        "operationId": "getTokenBalances",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ecosystem",
            "in": "path",
            "required": true,
            "description": "Blockchain ecosystem",
            "schema": {
              "type": "string",
              "enum": ["cosmos", "evm", "svm", "tvm", "utxo", "xrp", "substrate"]
            }
          },
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "Blockchain chain identifier",
            "schema": {
              "type": "string",
              "enum": ["mnee"]
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The address to query token balances for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token balances retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenBalancesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/chains": {
      "get": {
        "tags": ["Chains"],
        "summary": "List supported chains",
        "description": "List supported chains and the supported features",
        "operationId": "listSupportedChains",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ecosystem",
            "in": "query",
            "required": false,
            "description": "Filter by blockchain ecosystem",
            "schema": {
              "type": "string",
              "enum": ["cosmos", "evm", "svm", "tvm", "utxo", "xrp", "substrate"]
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "description": "Filter by specific chain",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeTestnets",
            "in": "query",
            "required": false,
            "description": "Include testnet chains in results",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of supported chains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedChainsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/transactions/ecosystem/{ecosystem}/chain/{chain}/transaction": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Create transaction from hex",
        "description": "Creates a transaction record for signing using a pre-built transaction hex, scoped to a specific ecosystem and chain",
        "operationId": "createTransactionFromHex",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ecosystem",
            "in": "path",
            "required": true,
            "description": "Blockchain ecosystem",
            "schema": {
              "type": "string",
              "enum": ["cosmos", "evm", "svm", "tvm", "utxo", "xrp", "substrate"]
            }
          },
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "Blockchain chain identifier",
            "schema": {
              "type": "string",
              "enum": ["mnee"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionFromHexRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTransactionFromHexResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/transactions/ecosystem/evm/chain/{chain}/scan-transaction": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Scan EVM transaction for security threats",
        "description": "Scans an EVM transaction for potential security threats using Blockaid",
        "operationId": "scanEVMTransaction",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "EVM chain identifier",
            "schema": {
              "type": "string",
              "enum": ["abstract"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanEVMTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EVM transaction scan completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanEVMTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/transactions/ecosystem/svm/chain/{chain}/scan-transaction": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Scan SVM transaction for security threats",
        "description": "Scans an SVM (Solana) transaction for potential security threats using Blockaid",
        "operationId": "scanSVMTransaction",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "Solana chain identifier",
            "schema": {
              "type": "string",
              "enum": ["solana", "solana-testnet"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanSVMTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SVM transaction scan completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanSVMTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/transactions/ecosystem/svm/chain/{chain}/address/{address}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "List SVM transactions",
        "description": "Retrieves a paginated list of transactions associated with a specific address on SVM ecosystem",
        "operationId": "listSVMTransactions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "Solana chain identifier",
            "schema": {
              "type": "string",
              "enum": ["solana", "solana-testnet"]
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "required": false,
            "description": "The number of transactions to return (1-50, default: 15)",
            "schema": {
              "type": "string",
              "default": "15"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "The cursor to begin querying from",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of SVM transactions with pagination details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SVMTransactionsListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/transactions/ecosystem/svm/chain/solana/build-native-transaction": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Build SVM (Solana) native transfer transaction hex",
        "description": "Builds a transaction hex for a native transfer on Solana",
        "operationId": "buildSVMNativeTransactionHex",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildSVMNativeTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction hex built",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/transactions/ecosystem/svm/chain/solana/build-token-transaction": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Build SVM (Solana) token transfer transaction hex",
        "description": "Builds a transaction hex for a token transfer on Solana",
        "operationId": "buildSVMTokenTransactionHex",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildSVMTokenTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction hex built",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/transactions/ecosystem/evm/chain/{chain}/address/{address}/transaction/{transactionHash}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get EVM transaction",
        "description": "Retrieves a transaction associated with a specific address on EVM ecosystem",
        "operationId": "getEVMTransaction",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "EVM chain identifier",
            "schema": {
              "type": "string",
              "enum": ["abstract"]
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionHash",
            "in": "path",
            "required": true,
            "description": "Transaction hash",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ecosystem",
            "in": "query",
            "required": true,
            "description": "Blockchain ecosystem",
            "schema": {
              "type": "string",
              "enum": ["evm", "svm", "utxo", "tvm"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EVMTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/transactions/ecosystem/evm/chain/{chain}/address/{address}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "List EVM transactions",
        "description": "Retrieves a paginated list of transactions associated with a specific address on EVM ecosystem",
        "operationId": "listEVMTransactions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "EVM chain identifier",
            "schema": {
              "type": "string",
              "enum": ["abstract"]
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "required": false,
            "description": "The number of transactions to return (1-50, default: 15)",
            "schema": {
              "type": "string",
              "default": "15"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "The cursor to begin querying from",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions with pagination details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EVMTransactionsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/transactions/ecosystem/evm/chain/{chain}/build-native-transaction": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Build native transfer transaction hex",
        "description": "Builds a transaction hex for a native transfer on EVM chain",
        "operationId": "buildNativeTransactionHex",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "EVM chain identifier",
            "schema": {
              "type": "string",
              "enum": ["eth"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildNativeTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction hex built",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/transactions/ecosystem/evm/chain/{chain}/build-token-transaction": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Build token transfer transaction hex",
        "description": "Builds a transaction hex for a token transfer on EVM chain",
        "operationId": "buildTokenTransactionHex",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "EVM chain identifier",
            "schema": {
              "type": "string",
              "enum": ["abstract"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildTokenTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction hex built",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/transactions/ecosystem/xrp/chain/{chain}/address/{address}/transaction/{transactionHash}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get XRP transaction",
        "description": "Retrieves a transaction associated with a specific address on XRP ecosystem",
        "operationId": "getXRPTransaction",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "XRP chain identifier",
            "schema": {
              "type": "string",
              "enum": ["ripple", "ripple-testnet"]
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionHash",
            "in": "path",
            "required": true,
            "description": "Transaction hash",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XRPTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/transactions/ecosystem/xrp/chain/{chain}/address/{address}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "List XRP transactions",
        "description": "Retrieves a paginated list of transactions associated with a specific address on XRP ecosystem",
        "operationId": "listXRPTransactions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "XRP chain identifier",
            "schema": {
              "type": "string",
              "enum": ["ripple", "ripple-testnet"]
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "required": false,
            "description": "The number of transactions to return (1-50, default: 15)",
            "schema": {
              "type": "string",
              "default": "15"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "The cursor to begin querying from",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions with pagination details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XRPTransactionsListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/transactions/ecosystem/xrp/chain/ripple/build-native-transaction": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Build XRP native transfer transaction hex",
        "description": "Builds a transaction hex for a native transfer on Ripple (XRP)",
        "operationId": "buildXRPNativeTransactionHex",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildXRPNativeTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction hex built",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/transactions/ecosystem/utxo/chain/{chain}/address/{address}/transaction/{transactionHash}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get UTXO transaction",
        "description": "Retrieves a transaction associated with a specific address on UTXO ecosystem (Bitcoin, Litecoin, Cardano, Avalanche)",
        "operationId": "getUTXOTransaction",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "UTXO chain identifier",
            "schema": {
              "type": "string",
              "enum": ["mnee", "mnee-testnet", "bitcoin", "litecoin", "cardano", "avalanche-p-chain", "avalanche-x-chain"]
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionHash",
            "in": "path",
            "required": true,
            "description": "Transaction hash",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UTXOTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/transactions/ecosystem/utxo/chain/{chain}/address/{address}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "List UTXO transactions",
        "description": "Retrieves a paginated list of transactions associated with a specific address on UTXO ecosystem",
        "operationId": "listUTXOTransactions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "UTXO chain identifier",
            "schema": {
              "type": "string",
              "enum": ["mnee", "mnee-testnet", "bitcoin", "litecoin", "cardano", "avalanche-p-chain", "avalanche-x-chain"]
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "required": false,
            "description": "The number of transactions to return (1-50, default: 15)",
            "schema": {
              "type": "string",
              "default": "15"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "The cursor to begin querying from",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions with pagination details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UTXOTransactionsListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/vaults/{vaultId}/transactions/ecosystem/utxo/chain/btc/build-native-transaction": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Build UTXO native transfer transaction hex",
        "description": "Builds a transaction hex for a native transfer on Bitcoin (UTXO)",
        "operationId": "buildUTXONativeTransactionHex",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the vault",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildUTXONativeTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction hex built",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/transactions/ecosystem/tvm/chain/{chain}/address/{address}/transaction/{transactionHash}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get TVM transaction",
        "description": "Retrieves a transaction associated with a specific address on TVM ecosystem",
        "operationId": "getTVMTransaction",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "TVM chain identifier",
            "schema": {
              "type": "string",
              "enum": ["tron"]
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionHash",
            "in": "path",
            "required": true,
            "description": "Transaction hash",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "Chain identifier (query param)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "Account address (query param)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionHash",
            "in": "query",
            "required": true,
            "description": "Transaction hash (query param)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ecosystem",
            "in": "query",
            "required": true,
            "description": "Ecosystem type",
            "schema": {
              "type": "string",
              "enum": ["evm", "svm", "utxo", "tvm"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TVMTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/transactions/ecosystem/tvm/chain/{chain}/address/{address}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "List TVM transactions",
        "description": "Retrieves a paginated list of transactions associated with a specific address on TVM ecosystem",
        "operationId": "listTVMTransactions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "description": "TVM chain identifier",
            "schema": {
              "type": "string",
              "enum": ["tron"]
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Account address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "required": false,
            "description": "The number of transactions to return (1-50, default: 15)",
            "schema": {
              "type": "string",
              "default": "15"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "The cursor to begin querying from",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of TVM transactions with pagination details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TVMTransactionsListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
[...]
